* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    flex-direction: row;
    max-width: 83%;
}

.item {
    display: flex;

    border: 1px solid grey;
    border-radius: 15px;
}

.wrapper {
    margin: 10px auto;
    padding: 45px;
    justify-content: space-between;
}

h1 {
    color: green;
}

h4 {
    text-decoration: line-through;
}

img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.prezzo {
    padding-top: 20px;
    justify-content: start;
}

.prezzo2 {}

.shop {
    text-align: start;
    background-color: green;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    /* height: 30%; */
    /* padding-top: 20px; */
}

.add {
    text-align: center;
    justify-content: center;

}